.add-new-task {
   
    bottom: 55px;
    left: 15px;
    width: 7em;
    padding: 2px 4px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        position: absolute;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        padding: 10px;
        bottom: 0.4em;
        left: 0.4em;
        margin: 0;

        .add-task-button-text {
            display: none;
        }
    }
}